  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #2e2530;
    background-size: cover;
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .score {
    font-size: 18px;
    color: #fff;
  }

  .vidas{
    font-size: 18px;
    color: #fff;
  }

  .temporizador {
    font-size: 18px;
    color: #fff;
  }

  .bestscore {
    font-size: 18 px;
    color: #fff;
    margin-left: 20px;
  }

  #pontuacao, #vidas, #bestscore {
    display: inline;
    margin-right: 15px;
    font-weight: bold;
    margin-left: 5px;
    color: #b1949c;
  }

  #tempo{
    display: inline;
    margin-right: 5px;
    font-weight: bold;
    margin-left: 5px;
    color: #b1949c;
  }

  .personagem {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: #b1949c;
    margin-top: 20px;
    bottom: 10px;
    position: relative;
    left: 25px;
    z-index: 3;
  }
  
  .personagem__eye {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 20px;
    right: 40px;
    background: #333333;
  }
  
  .personagem__mouth {
    background: #2e2530;
    position: absolute;
    width: 105%;
    height: 105%;
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
    animation-name: eat;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
  }

  @keyframes eat {
    0% {
      clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
    }
    25% {
      clip-path: polygon(100% 60%, 44% 48%, 100% 40%);
    }
  
    50% {
      clip-path: polygon(100% 50%, 44% 48%, 100% 50%);
    }
  
    75% {
      clip-path: polygon(100% 59%, 44% 48%, 100% 35%);
    }
  
    100% {
      clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
    }
  }

  .square {
    width: 25px;
    height: 25px;
    border-radius: 30%;
    margin-left: 50px;
    background: white;
    box-shadow: 0 0 0 1px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 10px white inset;
    z-index: 2;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(46, 37, 48);
  }


  .tabuleiro-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 10px; 
    margin-top: 20px;
  }

  .tabuleiro {
    margin: 0;
    border-collapse: collapse;
  }

  .tabuleiro td {
    width: 120px;
    height: 120px;
    border: 2px solid #000000;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }

  .inventario-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .inventario {
    border-collapse: separate;
    border-spacing: 5px;
    margin-top: 20px;
    margin-left: -10px;
  }

  .inventario td {
    width: 120px;
    height: 120px;
    border-radius: 20px;
    text-align: left;
    color:#000000b2;
    font-weight: bold;
    background-color: #b1949c;
    box-shadow: 0 0 0 1px #b1949c, 0 0 10px rgb(0, 0, 0);
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -40px; 
    margin-left: 15px;
    display: 0;
  }

  button {
    width: 100px;
    height: 34px;
    padding: 10px;
    font-size: 14px;
    background-color: #b1949c;
    box-shadow: 0 0 0 1px rgb(0, 0, 0), 0 0 10px rgb(0, 0, 0);
    color: #000000;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    border-radius: 10px;
  }

  .circle1 {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px solid #b1949c;
    border-top: 2px solid rgb(0, 0, 0);
    animation: ani1 3s linear infinite;
  }

  .circle2 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #b1949c;
    border-top: 3px solid rgb(0, 0, 0);
    animation: ani2 3s linear infinite;
  }

  @keyframes ani1 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes ani2 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 56px;
    font-weight: bold;
    color: #b1949c;
    padding: 20px;
    display: none; /* Inicialmente oculto */
    margin-left: -75px;
    margin-top: -50px;
    z-index: 10;
  }

  .pausetext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 56px;
    font-weight: bold;
    color: #b1949c;
    padding: 20px;
    margin-left: -65px;
    margin-top: -5px;
  }

  .four-pointed-star {
    position: relative;
    width: 50%; /* Ocupa 100% da largura da célula */
    height: 50%; /* Ocupa 100% da altura da célula */
    font-size: 1em; /* Tamanho relativo à fonte base */
    margin-left: 20px;
    margin-top: -15px;
    z-index: 2;
  }  
  .four-pointed-star:before{
    content:"";
    position:absolute;
    background:yellow;
    width:1em;
    height:1.15em;
    transform:rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
    box-shadow: 0 0 0 2px yellow, 0 0 20px yellow, 0 0 10px yellow inset;
  }
  
  .four-pointed-star:after{
    content:"";
    position:absolute;
    background:yellow;
    width:1em;
    height:1.15em;
    transform:rotate(45deg) skewX(22.5deg) skewY(22.5deg);
    box-shadow: 0 0 0 2px yellow, 0 0 20px yellow, 0 0 10px yellow inset;
  }

  .inventario .four-pointed-star {
    width: 30px;
    height: 30px;
    background-color: yellow; /* ou qualquer outra cor desejada */

  }